{% extends "base_generic.html" %}

{% block content %}
{% load static %}
{% static "" as baseUrl %}

    <h1>{{ stuffall.name }}</h1>
    <img src="{{ baseUrl }}images/{{stuffall.profilepic}}" class="img-circle" alt="{{ stuffall.name }}" style="width:180px;height:180px;"/>
    <p><strong>Position:</strong> {{ stuffall.position }}</p>
    <p><strong>Department:</strong> {{ stuffall.department }}</p>
    <p><strong>E-mail:</strong> {{ stuffall.email }}</p>
    <p><strong>Mobile:</strong> {{ stuffall.mobile  }}</p>
    <p><strong>Phone:</strong> {{ stuffall.phone }} </p>
    <p><strong>Start Date:</strong>{{ stuffall.start_date }} </p>
    <p><strong>Building:</strong> {{stuffall.building}} </p>
    <p><strong>City:</strong>{{ stuffall.city}} </p>
    <p><strong>Floor:</strong> {{stuffall.floor}} </p>
{% endblock %}
