{% extends "base_generic.html" %}

{% block content %}
{% load static %}
{% static "" as baseUrl %}

    <h1>{{ stuffinside.name }}</h1>
    <img src="{{ baseUrl }}hse/images/{{stuffinside.profilepic}}" class="img-circle" alt="{{ stuffinside.name }}" style="width:180px;height:180px;"/>
    <p><strong>Position:</strong> {{ stuffinside.position }}</p>
    <p><strong>Department:</strong> {{ stuffinside.department }}</p>
    <p><strong>E-mail:</strong> {{ stuffinside.email }}</p>
    <p><strong>Mobile:</strong> {{ stuffinside.mobile  }}</p>
    <p><strong>Phone:</strong> {{ stuffinside.phone }} </p>
    <p><strong>Start Date:</strong>{{ stuffinside.start_date }} </p>
    <p><strong>Building:</strong> {{stuffinside.building}} </p>
    <p><strong>City:</strong>{{ stuffinside.city}} </p>
    <p><strong>Floor:</strong> {{stuffinside.floor}} </p>
{% endblock %}
